# Overriding the following defaults varables (see csv2-default-vars.yaml):

cs_git_branch: {GITBRANCH}
db_upgrade_file: {DBFILE}
schema_model: {SCHEMA}

admin_email: root@{HOST}.heprc.uvic.ca

install_phpMyAdmin: False
web_debug: True

favicon_colour: red

container: True
local_web: False

openstack_vm: True
ci_target: True
