# copy_certificates_to_users.yaml

- name: Ensure condor group exists
  group:
    name: condor
    state: present

- name: Ensure condor user exists
  user:
    name: condor
    group: condor
    state: present

- name: Create local cert directory
  file:
    path: "/usr/local/etc/certificates/{{ ansible_fqdn }}"
    state: directory
    owner: condor
    group: condor
    mode: "0700"
    recurse: true

- name: Create grid security directory
  file:
    path: "/etc/grid-security"
    state: directory
    owner: condor
    group: condor
    mode: "0700"

- name: Install local cert
  copy:
    src: "{{ htcondor_cert | default('/etc/letsencrypt/live/' + ansible_fqdn + '/cert.pem') }}"
    dest: "/usr/local/etc/certificates/{{ ansible_fqdn }}/cert.pem"
    owner: condor
    group: condor
    mode: "0400"
    remote_src: yes

- name: Install grid security hostcert
  copy:
    src: "{{ htcondor_cert | default('/etc/letsencrypt/live/' + ansible_fqdn + '/cert.pem') }}"
    dest: "/etc/grid-security/hostcert.pem"
    owner: condor
    group: condor
    mode: "0400"
    remote_src: yes

- name: Install local key
  copy:
    src: "{{ htcondor_key | default('/etc/letsencrypt/live/' + ansible_fqdn + '/privkey.pem') }}"
    dest: "/usr/local/etc/certificates/{{ ansible_fqdn }}/privkey.pem"
    owner: condor
    group: condor
    mode: "0400"
    remote_src: yes

- name: Install grid security hostkey
  copy:
    src: "{{ htcondor_key | default('/etc/letsencrypt/live/' + ansible_fqdn + '/privkey.pem') }}"
    dest: "/etc/grid-security/hostkey.pem"
    owner: condor
    group: condor
    mode: "0400"
    remote_src: yes

- name: set_fact
  set_fact:
    certificate_users: []
  when: certificate_users is undefined

- name: set_fact
  set_fact:
    certificate_users: "{{ certificate_users + [item] }}"
  with_items: "{{ additional_certificate_users }}"
  when: additional_certificate_users is defined

- name: create user certificate directories
  file:
    dest: "{{ item.globus }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "0755"
  with_items:
    - "{{ certificate_users }}"

- name: create empty usercert pem files for certificate users
  file:
    dest: "{{ item.globus }}/{{ item.pfx }}cert.pem"
    state: touch
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "0444"
  with_items:
    - "{{ certificate_users }}"

- name: Create empty userkey pem files for certificate users
  file:
    dest: "{{ item.globus }}/{{ item.pfx }}key.pem"
    state: touch
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "0400"
  with_items:
    - "{{ certificate_users }}"

- name: Install bash script to update cert and key for certificate users and restart httpd
  ansible.builtin.template:
    src: etc_letsencrypt_renewal-hooks_deploy_copy_certificates_to_users.j2
    dest: /etc/letsencrypt/renewal-hooks/deploy/copy_certificates_to_users.sh
    owner: root
    group: root
    mode: "0700"
  when:
    - certificate_users is defined

- name: Copy certificates to users
  ansible.builtin.command:
    cmd: /etc/letsencrypt/renewal-hooks/deploy/copy_certificates_to_users.sh
  when:
    - certificate_users is defined

