- name: Ensure varnish directory exists
  file:
    path: /etc/varnish
    state: directory
    mode: '0755'
  
- name: Disable SELinux
  selinux:
    state: disabled
  register: selinux_result

- name: Install required packages
  yum:
    name:
      - epel-release
      
- name: Install Varnish repository via script
  shell: |
     curl -s https://packagecloud.io/install/repositories/varnishcache/varnish77/script.rpm.sh | bash
  args:
     creates: /etc/yum.repos.d/varnishcache_varnish77.repo
 
- name: Install required packages
  yum:
    name:
      - epel-release
      - git
      - varnish
      - varnish-devel
      - libcurl-devel
      - gcc
      - make
      - automake
      - autoconf
      - libtool
      - python3-docutils
      - jemalloc-devel
      - pkgconfig

- name: Check if vmod dynamic is installed
  stat:
    path: /usr/lib64/varnish/vmods/libvmod_dynamic.so
  register: vmod_dynamic_installed

- name: Clone vmod dynamic repository
  git:
    repo: https://github.com/nigoroll/libvmod-dynamic.git
    dest: /tmp/libvmod-dynamic
    version: 7.7
    force: yes
  when: not vmod_dynamic_installed.stat.exists

- name: Install vmod dynamic
  shell: |
      cd /tmp/libvmod-dynamic
      ./autogen.sh
      ./configure
      make
      make install
  args:
      creates: /usr/lib64/varnish/vmods/libvmod_dynamic.so
  when: not vmod_dynamic_installed.stat.exists

- name: Verify vmod dynamic installation
  command: ls -la /usr/lib64/varnish/vmods/libvmod_dynamic.so
  register: vmod_check
  changed_when: false
      
- name: Clone setup repository
  git:
    repo: https://github.com/ivukotic/v4A.git
    dest: /tmp/v4A
    version: "{{ upstream }}"
    force: yes

- name: Copy setup files to /usr/local
  copy:
    src: /tmp/v4A/VM/usr/local/
    dest: /usr/local/
    remote_src: yes
    mode: '0644'

- name: Copy setup files to /etc/
  copy:
    src: /tmp/v4A/VM/etc/
    dest: /etc/
    remote_src: yes
    mode: preserve
    
- name: Copy systemd service files
  copy:
    src: /tmp/v4A/VM/etc/systemd/system/
    dest: /etc/systemd/system/
    remote_src: yes
    mode: '0644'
    
- name: Copy files to root
  copy:
    src: /tmp/v4A/
    dest: /root/v4A/
    remote_src: yes
    mode: preserve
 
- name: Ensure scripts are executable
  file:
    path: "{{ item }}"
    mode: '0755'
  loop:
    - /usr/local/bin/{{ 'cvmfs-varnish' if upstream == 'cvmfs' else 'frontier-varnish' }}.sh
    - /usr/local/bin/reconfiguration.sh
  ignore_errors: yes
  
- name: Update config file with playbook specific vars
  lineinfile:
    path: /etc/sysconfig/{{ 'cvmfs-varnish' if upstream == 'cvmfs' else 'frontier-varnish' }}
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^SITE=', line: 'SITE={{ varnish_site }}' }
    - { regexp: '^INSTANCE=', line: 'INSTANCE={{ varnish_instance }}' }
    - { regexp: '^VARNISH_TRANSIENT_MEM=', line: 'VARNISH_TRANSIENT_MEM={{ varnish_transient_mem }}' }
    - { regexp: '^VARNISH_MEM=', line: 'VARNISH_MEM={{ varnish_mem }}' }
    - { regexp: '^VARNISH_PORT=', line: 'VARNISH_PORT={{ varnish_port }}' }
    - { regexp: '^FRONTIER_CONF=', line: 'FRONTIER_CONF={{ frontier_conf }}' }
