- name: Ensure varnish directory exists
  file:
    path: /etc/varnish
    state: directory
    mode: '0755'
  
- name: Disable SELinux
  selinux:
    state: disabled
  register: selinux_result

- name: Install required packages
  yum:
    name:
      - epel-release
      - varnish
      - jq
      - git
    state: present

- name: Clone setup repository
  git:
    repo: https://github.com/ivukotic/v4A.git
    dest: /tmp/v4A
    version: "{{ upstream }}"
    force: yes

- name: Copy setup files to /usr/local
  copy:
    src: /tmp/v4A/VM/usr/local/
    dest: /usr/local/
    remote_src: yes
    mode: preserve

- name: Copy setup files to /etc/
  copy:
    src: /tmp/v4A/VM/etc/
    dest: /etc/
    remote_src: yes
    mode: preserve

- name: Copy start files to root
  copy:
    src: /tmp/v4A/
    dest: /root/v4A/
    remote_src: yes
    mode: preserve
    
- name: Patch runme.sh 
  lineinfile:
    path: /root/v4A/runme.sh
    insertafter: 'curl -s "https://raw.githubusercontent.com/ivukotic/v4A/cvmfs/configurations/\$nfile.vcl" -o /tmp/\$nfile.vcl'
    line: "sed -i '/import dynamic;/d' /tmp/$nfile.vcl"
    state: present
    
- name: Update config file with playbook specific vars
  lineinfile:
    path: /etc/sysconfig/{{ 'cvmfs-varnish' if upstream == 'cvmfs' else 'frontier-varnish' }}
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^SITE=', line: 'SITE={{ varnish_site }}' }
    - { regexp: '^INSTANCE=', line: 'INSTANCE={{ varnish_instance }}' }
    - { regexp: '^VARNISH_TRANSIENT_MEM=', line: 'VARNISH_TRANSIENT_MEM={{ varnish_transient_mem }}' }
    - { regexp: '^VARNISH_MEM=', line: 'VARNISH_MEM={{ varnish_mem }}' }
    - { regexp: '^VARNISH_PORT=', line: 'VARNISH_PORT={{ varnish_port }}' }
    - { regexp: '^FRONTIER_CONF=', line: 'FRONTIER_CONF={{ frontier_conf }}' }
