##  What machine is your central manager?
CONDOR_HOST = $(FULL_HOSTNAME)

## Pool's short description
COLLECTOR_NAME = IAAS Production Pool

#DAEMON_LIST = $(DAEMON_LIST), COLLECTOR, NEGOTIATOR
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD

SEC_DAEMON_INTEGRITY = REQUIRED
SEC_DAEMON_AUTHENTICATION = REQUIRED
SEC_DAEMON_AUTHENTICATION_METHODS = IDTOKENS

SEC_NEGOTIATOR_INTEGRITY = REQUIRED
SEC_NEGOTIATOR_AUTHENTICATION = REQUIRED
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = IDTOKENS

##  When is this machine willing to start a job? 
START = TRUE
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE

## Disable UID_DOMAIN check when submit a job
TRUST_UID_DOMAIN = TRUE

#ALL_DEBUG  = D_HOSTNAME

#SPOOL		= /storage/condor/spool
#EXECUTE		= /storage/condor/execute

ALLOW_DAEMON = @*
ALLOW_READ = *
ALLOW_WRITE = *

# Additional settings needed for container work
LOWPORT = 40000
HIGHPORT = 40500
ENABLE_SOAP = FALSE
COLLECTOR_SOCKET_CACHE_SIZE=10000
COLLECTOR.MAX_FILE_DESCRIPTORS = 10000
ALLOW_NEGOTIATOR = *
ALLOW_NEGOTIATOR_SCHEDD = *

# Needed for a container as it doesn't have sys admin capabilities
DISCARD_SESSION_KEYRING_ON_STARTUP = FALSE

# clear out any host-based authorizations
# (unnecessary if you leave authentication REQUIRED,
#  but useful if you make it optional and want to
#  allow some unauthenticated operations, such as
#  ALLOW_READ = */*.cs.wisc.edu)
HOSTALLOW_READ = *
HOSTALLOW_WRITE = *
HOSTALLOW_NEGOTIATOR =
HOSTALLOW_ADMINISTRATOR =

