#!/bin/bash
cd /etc/letsencrypt/live/{{ csv2_ci_fqdn }}

openssl pkcs12 -export -out ci-server.p12 -passout 'pass:{{ jenkins_ssl_pw }}' -inkey /etc/letsencrypt/live/{{ csv2_ci_fqdn }}/privkey.pem -in cert.pem -certfile /etc/letsencrypt/live/{{ csv2_ci_fqdn }}/fullchain.pem -name {{  csv2_ci_fqdn }} -passin pass:{{ jenkins_ssl_pw }} -passout pass:{{ jenkins_ssl_pw }}

keytool -importkeystore -srckeystore /etc/letsencrypt/live/{{ csv2_ci_fqdn }}/ci-server.p12 -srcstoretype pkcs12 -destkeystore jenkinsserver.jks -deststoretype JKS -storepass {{ jenkins_ssl_pw }} -srcstorepass {{ jenkins_ssl_pw }}

cp /etc/letsencrypt/live/{{ csv2_ci_fqdn }}/jenkinsserver.jks /var/lib/jenkins/