ALL_DEBUG = D_ALWAYS:2 D_CAT
SCITOKENS_SERVER_AUDIENCE = https://wlcg.cern.ch/jwt/v1/any, https://wlcg.cern.ch, dune-condor-ce.heprc.uvic.ca

NETWORK_INTERFACE = '{{ htcondor_ipv4 }}'
ENABLE_IPV6 = False

