---
# install_other_required_packages.yaml

- name: install packages required for python3
  yum:
    name:
      - python3
      - python3-devel
      - python3-pip
    state: installed

- name: install other required packages
  package:
    name: ['gcc', 'git']
    state: latest

- name: install epel release
  yum:
    name: epel-release
    state: latest
