# htcondor server setup yaml
- include_vars: htcondor-public-default-vars.yaml
- include_vars: htcondor-public-secrets.yaml
- include_vars: htcondor-public-vars.yaml

  #- import_tasks: create_installation_directories.yaml
  #- import_tasks: install_other_required_packages.yaml
  #- import_tasks: install_python3.yaml

- import_tasks: create_localhost_cert.yaml
  when: 
  - local_web is defined
  - local_web == True

- include: install_configure_httpd.yaml
- import_tasks: install_EGI_trust_anchors.yaml
- import_tasks: install_fetch_crl.yaml
  when: (htcondor_gsi is defined) and (htcondor_gsi == True)

- import_tasks: install_htcondor_latest.yaml
  when: (htcondor_gsi is undefined) or (htcondor_gsi == False)
- import_tasks: install_htcondor_8.yaml
  when: (htcondor_gsi is defined) and (htcondor_gsi == True)
- import_tasks: copy_certificates_to_users.yaml
  when: (htcondor_gsi is defined) and (htcondor_gsi == True)
- import_tasks: configure_htcondor.yaml
- import_tasks: install_condor_ce.yaml
  when: (condor_ce is defined) and (condor_ce == True)


