---
# install_and_start_condor_poller.yaml

- name: unpack condor poller tarball
  ansible.builtin.shell: |
    rm -rfv /tmp/cloudscheduler
    cd /tmp
    tar -xzf /opt/cloudscheduler/repository/condor_poller.tar.gz
    rsync -av cloudscheduler /opt
    rm -rfv /tmp/cloudscheduler

- name: check if HTCondor is installed
  ansible.builtin.shell: which condor_version
  register: condor_installed
  when: install_condor_poller
  ignore_errors: true

- name: warn if HTCondor is not installed
  ansible.builtin.debug:
    msg: "WARNING: HTCondor is not installed. Please install HTCondor before configuring the condor poller."
  when:
    - install_condor_poller
    - condor_installed.rc != 0

- name: check if condor poller is already running
  ansible.builtin.shell: >-
    systemctl status csv2-condor-poller.service
  register: condor_poller_out
  when:
    - condor_installed.rc == 0
    - install_condor_poller
  ignore_errors: true

- name: configure and start the condor poller service
  ansible.builtin.shell: |
    /opt/cloudscheduler/utilities/service_disable_condor_poller
    /opt/cloudscheduler/utilities/service_enable_condor_poller
    rm -f /etc/condor/config.d/00-minicondor
    systemctl restart condor
  when:
    - install_condor_poller
    - condor_installed.rc == 0
    - condor_poller_out.rc != 0
