phpMyAdmin_secret: {OTHERPASS}
csv2_default_password: {DEFAULTPASS}
test_user_password: {TESTERPASS}
influx_writer_pass: {INFLUXPASS}
influx_admin_pass: {INFLUXADMINPASS}
influx_reader_pass: csv2_public


amqp_user_passwords:
    csv2: {OTHERPASS}
    condor_poller: {OTHERPASS}

database_user_passwords:
    root: {OTHERPASS}
    change_from_old_root: {OTHERPASS}
    csv2: {OTHERPASS}
    condor_poller: {OTHERPASS}
